# OS
.DS_Store

# IDE
.idea
.vscode

# Docker
docker/
docker-compose.yml
compose.yml

# Silverstripe
public/
app/
!e2e/*/app

# Dependencies
node_modules/
vendor/
composer.lock
yarn-error.log
yarn.lock
packages/
phpstan.phar

# Tests
.phpunit.cache
.phpunit.result.cache
coverage/
