includes:
  - vendor/symplify/phpstan-rules/config/symplify-rules.neon
  - vendor/symplify/phpstan-rules/config/rector-rules.neon
parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  paths:
    - rules
    - src
    - tests
  excludePaths:
    - bootstrap.php
    - ecs.php
    - rector.php
    - '*tests/*/Fixture/*'
    - '*tests/*/Fixture*'
    - '*tests/*/Source/*'
    - '*tests/*/Source*'
  cognitive_complexity:
      class: 50
      function: 15
  ignoreErrors:
      -
        message: "#^Cognitive complexity for \"SilverstripeRector\\\\DocBlock\\\\DocBlockHelper\\:\\:filterOutExistingAnnotations\\(\\)\" is 15, keep it under 9$#"
        count: 1
        path: src/DocBlock/DocBlockHelper.php

      -
        message: "#^Instead of protected element, use private element or contract method$#"
        count: 3
        path: src/Rector/Class_/AbstractAddAnnotationsRector.php

      -
        message: "#^Use explicit interface contract or a service over unclear abstract methods$#"
        count: 2
        path: src/Rector/Class_/AbstractAddAnnotationsRector.php

      -
        message: "#^Cognitive complexity for \"SilverstripeRector\\\\Silverstripe52\\\\Rector\\\\Class_\\\\DataListMethodAnnotationToGenericDataListMethodAnnotationRector\\:\\:refactor\\(\\)\" is 23, keep it under 15$#"
        count: 1
        path: rules/Silverstripe52/Rector/Class_/DataListMethodAnnotationToGenericDataListMethodAnnotationRector.php

      -
        message: "#^Class with base .* name is already used in .*. Use unique name to make classes easy to recognize$#"
        path: tests/rules/*

      -
        message: "#^Class SilverstripeRector\\\\Tests.*\\\\Fixture\\\\.* not found\\.$#"
        path: tests/*
      
      -
        message: "#^Instead of protected element, use private element or contract method$#"
        count: 2
        path: src/Rector/Class_/AbstractAddAnnotationsToExtensionRector.php
