includes:
  - vendor/symplify/phpstan-rules/config/symplify-rules.neon
  - vendor/symplify/phpstan-rules/config/rector-rules.neon
parameters:
  level: 8
  reportUnmatchedIgnoredErrors: true
  paths:
    - rules
    - src
    - tests
  excludePaths:
    - bootstrap.php
    - ecs.php
    - rector.php
    - '*tests/*/Fixture/*'
    - '*tests/*/Fixture*'
    - '*tests/*/Source/*'
    - '*tests/*/Source*'
    - '*tests/*/config/*'
  cognitive_complexity:
      class: 50
      function: 15
  ignoreErrors:
      -
        message: "#^Class Cambis\\\\SilverstripeRector\\\\Tests.*\\\\Fixture\\\\.* not found\\.$#"
        path: tests/*

      -
        message: "#^Cognitive complexity for \"Cambis\\\\SilverstripeRector\\\\PhpDocManipulator\\\\AnnotationUpdater::hasExistingAnnotation\\(\\)\" is 21, keep it under 15#"
        count: 1
        path: src/PhpDocManipulator/AnnotationUpdater.php

      -
        message: "#^Use value object over return of values$#"
        count: 1
        path: src/Rector/Class_/AbstractAddAnnotationsToExtensionRector.php

      -
        message: "#^Class \"Cambis\\\\SilverstripeRector\\\\Tests\\\\Silverstripe52\\\\Rector\\\\Class_\\\\AddExtendsAnnotationToExtensionRector\\\\IntersectionMultipleRector\" is missing @see annotation with test case class reference$#"
        count: 1
        path: tests/rules/Silverstripe52/Rector/Class_/AddExtendsAnnotationToExtensionRector/IntersectionMultipleRector.php

      -
        message: "#^Class \"Cambis\\\\SilverstripeRector\\\\Tests\\\\Silverstripe52\\\\Rector\\\\Class_\\\\AddExtendsAnnotationToExtensionRector\\\\IntersectionRector\" is missing @see annotation with test case class reference$#"
        count: 1
        path: tests/rules/Silverstripe52/Rector/Class_/AddExtendsAnnotationToExtensionRector/IntersectionRector.php

      -
        message: "#^Class \"Cambis\\\\SilverstripeRector\\\\Tests\\\\Silverstripe52\\\\Rector\\\\Class_\\\\AddExtendsAnnotationToExtensionRector\\\\UnionMultipleRector\" is missing @see annotation with test case class reference$#"
        count: 1
        path: tests/rules/Silverstripe52/Rector/Class_/AddExtendsAnnotationToExtensionRector/UnionMultipleRector.php

      -
        message: "#^Class \"Cambis\\\\SilverstripeRector\\\\Tests\\\\Silverstripe52\\\\Rector\\\\Class_\\\\AddExtendsAnnotationToExtensionRector\\\\UnionRector\" is missing @see annotation with test case class reference$#"
        count: 1
        path: tests/rules/Silverstripe52/Rector/Class_/AddExtendsAnnotationToExtensionRector/UnionRector.php

      - '#Parameter \#1 \$node (.*?) of method Cambis\\SilverstripeRector\\(.*?)\:\:(refactor|refactorWithScope)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Contract\\Rector\\RectorInterface\:\:refactor\(\)#'

      -
        message: "#^Method Cambis\\\\SilverstripeRector\\\\Rector\\\\Class_\\\\AbstractAddAnnotationsToExtensionRector\\:\\:getAllowedParents\\(\\) return type with generic class SilverStripe\\\\Core\\\\Extension does not specify its types\\: T$#"
        count: 1
        path: src/Rector/Class_/AbstractAddAnnotationsToExtensionRector.php
      
      - '#Parameter \#1 \$node (.*?) of method Cambis\\SilverstripeRector\\(.*?)\:\:refactorAPIAwareNode\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Cambis\\SilverstripeRector\\Contract\\Rector\\APIAwareRectorInterface\:\:refactorAPIAwareNode\(\)#'
