<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  cacheDirectory=".phpunit.cache"
  executionOrder="depends,defects"
  requireCoverageMetadata="false"
  beStrictAboutCoverageMetadata="false"
  beStrictAboutOutputDuringTests="true"
  displayDetailsOnPhpunitDeprecations="true"
  failOnPhpunitDeprecation="true"
  failOnRisky="true"
  failOnWarning="true"
>
  <php>
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
		<testsuite name="Rules">
			<directory>tests/rules</directory>
		</testsuite>
    <testsuite name="Source">
			<directory>tests/src</directory>
		</testsuite>
	</testsuites>
</phpunit>

