services:
    extensionOwnerMetaPropertyTypeResolver:
        class: Cambis\SilverstripeRector\TypeResolver\TypeResolver\ExtensionOwnerMetaPropertyTypeResolver
        tags: [silverstan.typeResolver.propertyTypeResolver]
